body {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 1;
}
  
input {
    background: transparent;
    border: none;
    resize: none;
    padding: 10px;
}
  
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
}
  
.description {
    white-space: pre-wrap;
}
  
.time-block {
    text-align: center;
    border-radius: 15px;
}
  
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
}

h1, h3 {
    color: #6ed340;
}

h3 {
    font-size: 34px;
}
  
.hour {
    background-color: #ffffff;
    color: #58595b;
    font-weight: lighter;
}
  
.past {
    background-color: #d3d3d3;
    color: #9c9c9c;
    border-bottom: 5px solid #c2c2c2;
}
  
.present {
    background-color: #80ec4e;
    color: #58595b;
    font-weight: bold;
    border-bottom: 5px solid #6ed340;
}
  
.future {
    background-color: #fff3a8;
    color: #58595b;
    font-weight: bold;
    border-bottom: 5px solid #e4d67b;
}
  
.saveBtn {
    background-color: white;
    color: #2ea5dd;
    cursor: pointer;
}

.saveBtn img {
    height: 30px;
    transition: transform .1s;
}
  
.saveBtn img:hover {
    transform: scale(1.25);
}